<!DOCTYPE html>
<html>
  <head>
    <title>HunsUi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen flex flex-col justify-between">
    <%= render "layouts/header" %>
      <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
